@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --blue:#0000FF;
    --lightblue:#6464FF;
}

/*Default page*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
}


h1 {
    font-size: 4rem; /* Ukuran font h1 sekarang 20px */
}

p {
    font-size: 1.8rem; /* Ukuran font paragraf sekarang 14px */
}

h5 {
    font-size: 2rem; /* Ukuran font paragraf sekarang 14px */
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    height: 3000px;
}




/*Navbar*/
.navbar {
    margin-top: 10px; /* Atur margin atas sesuai dengan kebutuhan Anda */
    margin-bottom: 10px; /* Atur margin bawah sesuai dengan kebutuhan Anda */
}
.navbar-expand-lg {
    max-width: 1100px; /* Atur lebar maksimum sesuai kebutuhan Anda */
    margin-left: auto;
    margin-right: auto;
}

.nav-item .nav-link {
    font-size: 17px;
    margin-left: 6px; /* Atur margin kiri lebih besar */
    margin-right: 6px; /* Atur margin kanan lebih besar */
}

/* Membuat elemen navbar rata tengah */
.navbar-nav {
    margin-left: auto;

}

/* CSS untuk membuat tautan "Contact Us" rata kanan */
.navbar-nav .nav-item .ml-auto {
    margin-left: auto;
}


/*Footer kolom-1*/
.nav-item2 {
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-nav .nav-item button{
    margin-top: 1px;
    background: var(--blue);
    border-radius: 5rem;
    border: none;
    height: 4rem;
    width: 14rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    transition: .2s;

}

.scroll-nav-active {
    position: fixed; /* Membuat elemen tetap saat di-scroll */
    top: 0;
    left: 0;
    width: 100%; /* Menentukan lebar elemen */
    padding: 80px; /* Atur padding untuk ruang di sebelah kiri dan kanan */
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang transparan */
    border-radius: 20px 20px 20px 20px; /* Border radius pada sudut bawah */
    /* ... properti lain yang mungkin Anda inginkan ... */
    /* ... properti lain yang mungkin Anda inginkan ... */
   /* border-bottom: 1px solid #0000FF;*/
    /*box-shadow: 1px 1px 11px -1px rgba(1, 1, 1, .08);*/
    mask-image: url("../../assets/images/logo-dark.png");
}

.text-nav-active {
    color: white;
}

/*Hero Edit*/
.home{
    min-height: 100vh;
    background: url(../images/hero-bg.png)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 20rem;
    padding-bottom: 2rem;
    text-align: center;
}

.home .content h1{
    font-size: 5rem;
    color: #fff;
    padding:0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.home .content p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 25rem;
}

.home .content button{
    margin-top: 1rem;
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
}

.home .content button:hover{
    letter-spacing: .2rem;
}


.home .box-container{
    margin-top: 4rem; /* Ganti nilai 4rem sesuai kebutuhan Anda */
    max-width: 1200px;
    display: flex;
    justify-content: center; /* Ubah justify-content ke flex-start */
    flex-wrap: wrap;
    margin: 0 auto; /* Untuk membuat slider berada di tengah */
    overflow: hidden; /* Untuk membatasi konten jika slider terlalu lebar */

}

.home .box-container .box{
    height: 20rem;
    width: 25rem;
    background: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    cursor: pointer;
}


.home .box-container .box i{
   height: 6rem;
   width: 6rem;
   line-height: 6rem;
   text-align: center;
   border-radius: 50%;
   color: #fff;
   background: var(--lightblue);
   font-size: 3rem;
   margin: 2rem 0;
   transition: .2s;
}

.home .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
    transition: .2s;
}

.home .box-container .box p{
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #666;
}

.home .box-container .box:hover i{
    background: var(--blue);
}

.home .box-container .box:hover h3{
    color: var(--lightblue);
}



/*Hero shape*/
.home::before{
    margin-top: 4rem;
    content: '';
    position: absolute;
    bottom:-25rem; left:50% ;
    transform: translateX(-50%);
    border-top: 70vh solid #fff;
    width: 120%;
    border-radius: 50%;
    z-index: -1;
}


/* About Us */
.container .btn button{
    margin-top: 1rem;
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
}

.btn-primary {
    margin-top: 1rem;
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
}

.btn-outline-primary {
    background-color: transparent;
    border-radius: 10px;
    border-color: #0000FF;
    padding: 10px 45px;
    color: #0000FF;
}



/* Brand */
.brand-container {
    margin-top: 20px; /* Ganti 20px dengan nilai margin yang Anda inginkan */
}
.section-subtitle {
    text-align: center;
}
.brand-images{
    display: grid;
    align-items: center;
    column-gap: 2rem;
    justify-content: space-between;
    justify-items: center;
    margin-top: 3rem;
    grid-template-columns: repeat(5,1fr);
    position: relative; /* Menggunakan position relative agar z-index bekerja */
    z-index: 2; /* Nilai z-index yang lebih tinggi untuk menempatkan elemen di atas */
  }
  .brand-img{
    width: 150px;
    object-fit: contain;
    opacity: 0.4;
    transition: var(--tran-0-5);
    float: left;
    margin-right: 20px;
  }
  .brand-img:hover{
    opacity: 1;
  }




/*Responsive layar kecil 450*/
@media screen and (min-width:450px){
    .hero-text{
        font-size: 35px;
        font-weight: 600;
    }
}

/*Responsive layar sedang 550*/
@media screen and (min-width:550px){
    .hero-text{
        font-size: 40px;
        font-weight: 600;
    }
}

/*Responsive layar besar 800*/
@media screen and (min-width:800px){
    .hero-text{
        font-size: 60px;
        font-weight: 600;
    }
}


.stripe {
    height: 5px;
    width: 40px;
    background-color: #0000FF;
}

/*Foto*/
.section-foto {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax {
    background-image: url("../../assets/images/bg.jpeg");
}

.stripe-putih {
    height: 5px;
    width: 40px;
    background-color: #ffffff;
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #05579e;
    background: #f8f8f8;
  }

  .pricing h4 {
    font-size: 36px;
    color: #0880e8;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }

  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }

  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }

  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }

  .pricing ul li {
    padding-bottom: 16px;
  }

  .pricing ul i {
    color: #0880e8;
    font-size: 18px;
    padding-right: 4px;
  }

  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }

  .pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
  }

  .pricing .btn-buy {
    background: #0880e8;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }

  .pricing .btn-buy:hover {
    background: #2b99f8;
  }

  .pricing .featured h3 {
    color: #fff;
    background: #0880e8;
  }

  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #0880e8;
    color: #fff;
  }


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 2;
}




/*--------------------------------------------------------------
# Program BG
--------------------------------------------------------------*/
.slick-slide{
    margin: 15px 0px;
}
.slick-slide img{
    width: 800px;
    height: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-slide{
    display: none;
    float: left;
    height: 1000%;
    min-height: 0px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .section-title h2 {
    font-size: 35px;
    margin-bottom: 10px;
}
.services .section-title p{
    font-size: 16px;
}

.services .section-title h2,
.services .section-title p {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 200px; /* Atur margin kiri sebanyak yang Anda inginkan */
        margin-right: 200px;
}

.services .content {
    padding: 100px 100px 0 100px;
  }

.services .icon-box {
    margin-bottom: 20px;
    padding: 50px 30px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .services .icon-box i {
    float: center;
    color: #f6b024;
    font-size: 40px;
    line-height: 0;
    margin-bottom: 20px;
  }

  .services .icon-box h4 {
    align-items: center;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .services .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
  }

  .services .icon-box h4 a:hover {
    color: #0880e8;
  }

  .services .icon-box p {
    align-items: center;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 4px; /* Atur margin kiri sebanyak yang Anda inginkan */
    margin-right: 4px; /* Atur margin kanan sebanyak yang Anda inginkan */

  }

  .services p {
    margin-left: 20px; /* Atur margin kiri sebanyak yang Anda inginkan */
    margin-right: 20px; /* Atur margin kanan sebanyak yang Anda inginkan */
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
    background: #E9E9E9;
    padding: 0;

  }

  .why-us .content {
    padding: 60px 100px 0 100px;
  }

  .why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
  }

  .why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }

  .why-us .content p {
    font-size: 15px;
    color: #848484;
  }

  .why-us .video-box {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
    float: right;


  }

  .why-us .accordion-list {
    padding: 0 100px 60px 100px;
  }

  .why-us .accordion-list ul {
    padding: 0;
    list-style: none;
  }

  .why-us .accordion-list li+li {
    margin-top: 15px;
  }

  .why-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
  }

  .why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
  }

  .why-us .accordion-list span {
    color: #0880e8;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }

  .why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }

  .why-us .accordion-list .icon-show {
    display: none;
  }

  .why-us .accordion-list a.collapsed {
    color: #343a40;
  }

  .why-us .accordion-list a.collapsed:hover {
    color: #0880e8;
  }

  .why-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
  }

  .why-us .accordion-list a.collapsed .icon-close {
    display: none;
  }

  .why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#0880e8 50%, rgba(8, 128, 232, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }

  .why-us .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .why-us .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(8, 128, 232, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }

  .why-us .play-btn:hover::after {
    border-left: 15px solid #0880e8;
    transform: scale(20);
  }

  .why-us .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }

  @media (max-width: 1024px) {

    .why-us .content,
    .why-us .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 992px) {
    .why-us .content {
      padding-top: 30px;
    }

    .why-us .accordion-list {
      padding-bottom: 30px;
    }
  }

  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }

    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  /*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(5, 74, 133, 0.8), rgba(5, 74, 133, 0.9)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 50px 0;
    margin-top: 70px;
  }

  .cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  .cta p {
    color: #fff;
  }

  .cta .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid #f6b024;
    color: #fff;
  }

  .cta .cta-btn:hover {
    background: #f6b024;
  }

  @media (max-width: 1024px) {
    .cta {
      background-attachment: scroll;
    }
  }

  @media (min-width: 769px) {
    .cta .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }

  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 18px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
  }

  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #0880e8;
  }

  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }

  .portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
  }

  .portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #0880e8;
    padding: 15px 20px;
  }

  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }

  .portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }

  .portfolio .portfolio-item .portfolio-info .preview-link,
  .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
  }

  .portfolio .portfolio-item .portfolio-info .preview-link:hover,
  .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #8ec8fb;
  }

  .portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }

  .portfoio .portfolio-item:hover img {
    top: -30px;
  }

  .portfoio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }

  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------
  .portfolio-details {
    padding-top: 40px;
  }

  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #0880e8;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0880e8;
  }

  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(246, 176, 36, 0.08);
  }

  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }

  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }

  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }

  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-details .portfolio-description p {
    padding: 0;
  }

/*--footer
  .footer {
      background-color: rgba(5, 74, 133);
      max-width: 95%;
      margin: 0 auto;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
  } --*/


  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: #6bc1e9;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff url("../images/preloader.gif") center center no-repeat;
    overflow: hidden;
}

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #37517e;
  }

  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: whitesmoke;
  }

  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-contact h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: #37517e;
  }

  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }

  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}

.footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-list li {
    margin-bottom: 1px;
}

.footer-list a {
    text-decoration: none;
    color: #37517e;
}

/* Optional: Add margin between the icon and the link */
.footer-list i {
    margin-right: 5px;
}


  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
  }

  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .footer-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
  }

  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }

  #footer .copyright {
    float: left;
  }

  #footer .credits {
    float: right;
    font-size: 13px;
  }

  #footer .credits a {
    transition: 0.3s;
  }

  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    #footer .copyright,
    #footer .credits {
      text-align: center;
      float: none;
    }

    #footer .credits {
      padding-top: 4px;
    }
  }

  /*--email--*/
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}
.email-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
