@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #0000FF;
    border-radius: 10px;
    border-color: #0000FF;
    padding: 10px 45px;
    color: white;
}

.btn-outline-primary {
    background-color: transparent;
    border-radius: 10px;
    border-color: #0000FF;
    padding: 10px 45px;
    color: #0000FF;
    margin-top: 30px;
}

/*Navbar*/
.navbar {
    margin-top: 10px; /* Atur margin atas sesuai dengan kebutuhan Anda */
    margin-bottom: 10px; /* Atur margin bawah sesuai dengan kebutuhan Anda */
}
.navbar-expand-lg {
    max-width: 1100px; /* Atur lebar maksimum sesuai kebutuhan Anda */
    margin-left: auto;
    margin-right: auto;
}

.nav-item .nav-link {
    font-size: 17px;
    margin-left: 6px; /* Atur margin kiri lebih besar */
    margin-right: 6px; /* Atur margin kanan lebih besar */
}

/*Footer kolom-1*/
.nav-item2 {
    font-size: 14px;
    margin-left: 3px;
    margin-right: 3px;
}

.scroll-nav-active {
    position: fixed; /* Membuat elemen tetap saat di-scroll */
    top: 0;
    left: 0;
    width: 100%; /* Menentukan lebar elemen */
    padding: 80px; /* Atur padding untuk ruang di sebelah kiri dan kanan */
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang transparan */
    border-radius: 20px 20px 20px 20px; /* Border radius pada sudut bawah */
    /* ... properti lain yang mungkin Anda inginkan ... */
    /* ... properti lain yang mungkin Anda inginkan ... */
   /* border-bottom: 1px solid #0000FF;*/
    /*box-shadow: 1px 1px 11px -1px rgba(1, 1, 1, .08);*/
    mask-image: url("../../assets/images/logo-dark.png");
}

.text-nav-active {
    color: white;
}



/*Hero, Background */
#hero{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    width: 50%;
    height: 50%;
    object-fit: cover; /* Untuk menjaga proporsi video */
}

.hero-title {
    padding-top: 230px;
    padding-bottom: 0px;

}

/*Hero, Text */
.hero-text {
    font-size: 40px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    font-weight: 600;

}

.text-secondary h4 {
    font-size: 18px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    font-weight: 600;
    margin-top: 20px;
}

/*Button hero */
.rounded {
    border-radius: 10px; /* Sesuaikan dengan nilai radius yang Anda inginkan */
}

/*Footer*/
#footer{
    margin-top: 80px;
    background-color: #343a40;
}

/*Responsive layar kecil 450*/
@media screen and (min-width:450px){
    .hero-text{
        font-size: 35px;
        font-weight: 600;
    }
}

/*Responsive layar sedang 550*/
@media screen and (min-width:550px){
    .hero-text{
        font-size: 40px;
        font-weight: 600;
    }
}

/*Responsive layar besar 800*/
@media screen and (min-width:800px){
    .hero-text{
        font-size: 60px;
        font-weight: 600;
    }
}


.stripe {
    height: 5px;
    width: 40px;
    background-color: #0000FF;
}

/*Foto*/
.section-foto {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax {
    background-image: url("../../assets/images/bg.jpeg");
}

.stripe-putih {
    height: 5px;
    width: 40px;
    background-color: #ffffff;
}

/*--------------------------------------------------------------
# Program BG
--------------------------------------------------------------*/
.slick-slide{
    margin: 15px 0px;
}
.slick-slide img{
    width: 800px;
    height: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-slide{
    display: none;
    float: left;
    height: 1000%;
    min-height: 0px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 0;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  .pricing h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #05579e;
    background: #f8f8f8;
  }

  .pricing h4 {
    font-size: 36px;
    color: #0880e8;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }

  .pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }

  .pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }

  .pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }

  .pricing ul li {
    padding-bottom: 16px;
  }

  .pricing ul i {
    color: #0880e8;
    font-size: 18px;
    padding-right: 4px;
  }

  .pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
  }

  .pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 15px 15px;
    background: #f8f8f8;
    text-align: center;
  }

  .pricing .btn-buy {
    background: #0880e8;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
  }

  .pricing .btn-buy:hover {
    background: #2b99f8;
  }

  .pricing .featured h3 {
    color: #fff;
    background: #0880e8;
  }

  .pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #0880e8;
    color: #fff;
  }

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 80px 20px;
    margin-top: 10px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }

  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #f6b024;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.3s;
  }

  .services .icon-box .icon i {
    color: #151515;
    font-size: 28px;
    transition: ease-in-out 0.3s;
  }

  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .services .icon-box h4 a {
    color: #151515;
    transition: ease-in-out 0.3s;
    text-decoration: none;
  }

  .services .icon-box h4 a:hover {
    color: #f6b024;
  }

  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    transform: translate(-10px);
  }

/*--------------------------------------------------------------
# Services


.services .content {
    padding: 100px 100px 0 100px;
  }

.services .icon-box {
    margin-bottom: 20px;
    padding: 65px 20px;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .services .icon-box i {
    float: center;
    color: #f6b024;
    font-size: 40px;
    line-height: 0;
    margin-bottom: 15px;
  }

  .services .icon-box h4 {
    align-items: center;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .services .icon-box h4 a {
    color: #05579e;
    transition: 0.3s;
    text-decoration: none;
  }

  .services .icon-box h4 a:hover {
    color: #0880e8;
  }

  .services .icon-box p {
    align-items: center;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
    background: #E9E9E9;
    padding: 0;

  }

  .why-us .content {
    padding: 60px 100px 0 100px;
  }

  .why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
  }

  .why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }

  .why-us .content p {
    font-size: 15px;
    color: #848484;
  }

  .why-us .video-box {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
    float: right;


  }

  .why-us .accordion-list {
    padding: 0 100px 60px 100px;
  }

  .why-us .accordion-list ul {
    padding: 0;
    list-style: none;
  }

  .why-us .accordion-list li+li {
    margin-top: 15px;
  }

  .why-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
  }

  .why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }

  .why-us .accordion-list span {
    color: #0880e8;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }

  .why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }

  .why-us .accordion-list .icon-show {
    display: none;
  }

  .why-us .accordion-list a.collapsed {
    color: #343a40;
  }

  .why-us .accordion-list a.collapsed:hover {
    color: #0880e8;
  }

  .why-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
  }

  .why-us .accordion-list a.collapsed .icon-close {
    display: none;
  }

  .why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#0880e8 50%, rgba(8, 128, 232, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }

  .why-us .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .why-us .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(8, 128, 232, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }

  .why-us .play-btn:hover::after {
    border-left: 15px solid #0880e8;
    transform: scale(20);
  }

  .why-us .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }

  @media (max-width: 1024px) {

    .why-us .content,
    .why-us .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 992px) {
    .why-us .content {
      padding-top: 30px;
    }

    .why-us .accordion-list {
      padding-bottom: 30px;
    }
  }

  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }

    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

  /*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(5, 74, 133, 0.8), rgba(5, 74, 133, 0.9)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 50px 0;
    margin-top: 70px;
  }

  .cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  .cta p {
    color: #fff;
  }

  .cta .cta-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid #f6b024;
    color: #fff;
    text-decoration: none;
  }

  .cta .cta-btn:hover {
    background: #f6b024;
  }

  @media (max-width: 1024px) {
    .cta {
      background-attachment: scroll;
    }
  }

  @media (min-width: 769px) {
    .cta .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }

  .back-to-top:hover {
    background: #6bc1e9;
    color: #fff;
  }

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff url("../images/preloader.gif") center center no-repeat;
    overflow: hidden;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }

  .portfolio .portfolio-item img {
    transition: all ease-in-out 0.4s;
  }

  .portfolio .portfolio-item:hover img {
    transform: scale(1.1);
  }

  .portfolio p {
    margin-bottom: 25px;
  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 14px;
    background: #37517e;
  }

  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: whitesmoke;
  }

  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }

  #footer .footer-top .footer-contact h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: #37517e;
  }

  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
  }

  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}

.footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-list li {
    margin-bottom: 1px;
}

.footer-list a {
    text-decoration: none;
    color: #37517e;
}

/* Optional: Add margin between the icon and the link */
.footer-list i {
    margin-right: 5px;
}


  #footer .footer-top .footer-links {
    margin-bottom: 25px;
  }

  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
  }

  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }

  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }

  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #47b2e4;
  }

  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  #footer .footer-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
  }

  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }

  #footer .copyright {
    float: left;
  }

  #footer .credits {
    float: right;
    font-size: 13px;
  }

  #footer .credits a {
    transition: 0.3s;
  }

  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    #footer .copyright,
    #footer .credits {
      text-align: center;
      float: none;
    }

    #footer .credits {
      padding-top: 4px;
    }
  }

